@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h1 class="display-4">Frog Bay Lodge</h1>
    <h2>Hotel and Resort</h2>
    <img style="width:90vw;"src="https://images.unsplash.com/photo-1542314831-068cd1dbfeeb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
    <!--APA Citation: Rodríguez, F. Á. (2018, November 15). blue body of water in front of building near trees during nighttime. Unsplash. https://unsplash.com/photos/blue-body-of-water-in-front-of-building-near-trees-during-nighttime-M7GddPqJowg-->
</div>
